# Database
DB_USER=
DB_PASSWORD=
DB_NAME=

# Security - CHANGE THESE IN PRODUCTION!
SECRET_KEY=
ENCRYPTION_KEY=

# Vector Database
QDRANT_HOST=
QDRANT_PORT=
QDRANT_COLLECTION=places
EMBEDDING_DIM=768
QDRANT_DISTANCE=cosine
EMBEDDING_MODEL=google/embeddinggemma-300m
HF_TOKEN=

# Set to true to load embedding model on startup, false to skip (for testing)
LOAD_EMBEDDINGS_MODEL=false
